---
import BaseLayout from '../layouts/BaseLayout.astro';

---

<BaseLayout title="About" description="About ...">
	<main class="height-smart-fill-screen flow side-gap-padding">
		<h1 class="text-align-center main-header-element">About</h1>
		<p class="text-align-center">Lorem impsum.</p>
	</main>
</BaseLayout>

<style>
</style>