---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Title ..." description="Description ...">
	<main class="base-layout">
		<div class="height-smart-fill-screen flow">
			<h1 class="text-align-center">Header 1</h1>
			<p class="text-align-center">
				Astro Starter Template by Bryan Hogan.
			</p>
			<p class="example-1">Some text here. <strong>Bold text!</strong></p>
			<p class="example-2">Some text here. <strong>Bold text!</strong></p>
		</div>
	</main>
</BaseLayout>

<style>
	.example-1 {
		color: var(--color-neutral-100);
	}
	.example-2 {
		color: var(--color-neutral-200);
	}
</style>