---
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE } from "../config";
---

<BaseLayout title="Title ..." description="Description ...">
	<main class="base-layout">
		<div class="height-smart-fill-screen flow">
			<h1 class="text-align-center">Header 1</h1>
			<p class="text-align-center">
				{SITE.name} by {SITE.author}.
			</p>
		</div>
	</main>
</BaseLayout>