---
import "../styles/reset.css";
import "../styles/var.css";
import "../styles/global.css";
import "../styles/util.css";

import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE } from "../config";

interface Props {
    title: string;
    description: string;
    canonical?: string;
    ogTitle?: string;
    ogDescription?: string;
    ogImage?: string;
    ogImageAlt?: string;
    ogType?: "website" | "article";
    articlePublished?: Date;
    articleModified?: Date;
    articleTags?: string[];
    robots?: string;
    author?: string;
}
---

<!doctype html>
<html lang={SITE.locale}>
    <head>
        <Head {...Astro.props}>
            <slot name="head" slot="head" />
        </Head>
    </head>
    <body>
        <Header />
        <slot />
        <Footer />
    </body>
</html>
