---
import BaseLayout from "./BaseLayout.astro";
import "../styles/markdown.css";


interface Props {
    title: string;
    description: string;
    canonical?: string;
    ogTitle?: string;
    ogDescription?: string;
    ogImage?: string;
    ogImageAlt?: string;
    ogType?: "website" | "article";
    articlePublished?: Date;
    articleModified?: Date;
    articleTags?: string[];
    robots?: string;
    author?: string;
}
---

<BaseLayout {...Astro.props}>
    <slot name="head" slot="head" />
    <main class="base-layout">
        <div
            class="height-smart-fill-screen markdown-container margin-inline-auto set-main-content-max-width main-header-element"
        >
            <slot />
        </div>
    </main>
</BaseLayout>
